<html>
<head><title>MDcalendar</title>
<link rel="stylesheet" type="text/css" href="mdStyle.css"><meta charset="utf-8"></head>
<body><table width="100%" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">November 2019</th></tr>
<tr><th class="sun">Sun</th><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td height="100px" width="14%" class="fri crossed">1<br/></td><td height="100px" width="14%" class="sat crossed">2<br/></td></tr>
<tr><td height="100px" width="14%" class="sun crossed">3<br/></td><td height="100px" width="14%" class="mon crossed">4<br/></td><td height="100px" width="14%" class="tue crossed">5<br/></td><td height="100px" width="14%" class="wed crossed">6<br/></td><td height="100px" width="14%" class="today">7<br/><ul>
<li>Fit (<em>One</em>) GMM to simulated, 2D data</li>
<li>Generalize above to n Gaussians</li>
<li>Test Gurobi (Quadratic Matching) on Mette's Data</li>
<li>Make account on arxiv</li>
<li>Clean up latex code on overleaf</li>
<li>Merge PPN2V with PN2V</li>
<li>Book ticket to Sthlm</li>
<li>Book ticket to London</li>
<li>Meeting With Mangal</li>
<li>Reply to Krishan and Debarka S.</li>
</ul>
</td><td height="100px" width="14%" class="fri">8<br/><ul>
<li>Meet Florian and push article to arxiv</li>
<li>Perform Segmentation on Mette's Data</li>
<li>Check performance of segmentation with Mette's annotation</li>
<li>Write ILP tracker with Mass Conservation on Mette's Data</li>
<li>Perform Tracking on Mette's data</li>
<li>Check performance of Tracking on Mette's Data</li>
<li>Document performance</li>
<li>Meeting with Marko</li>
</ul>
</td><td height="100px" width="14%" class="sat">9<br/><ul>
<li>Meeting with Aryaman</li>
<li>Create validation results with StarDist 2D on data1, data2</li>
<li>Test GenSeg on Actual Data</li>
<li>Perform FairSim on Victoria' Data</li>
<li>Perform Segmentation of Myson and Actin with Pytorch</li>
<li>Extend Pytorch for blob detection</li>
<li>Document and communicate performance to Victoria, Archit</li>
<li>Perform StarDist on Jana's Data</li>
<li>Document and Communicate to Jana</li>
<li>Check Ksenia's Data</li>
</ul>
</td></tr>
<tr><td height="100px" width="14%" class="sun">10<br/></td><td height="100px" width="14%" class="mon">11<br/></td><td height="100px" width="14%" class="tue">12<br/></td><td height="100px" width="14%" class="wed">13<br/></td><td height="100px" width="14%" class="thu">14<br/></td><td height="100px" width="14%" class="fri">15<br/></td><td height="100px" width="14%" class="sat">16<br/></td></tr>
<tr><td height="100px" width="14%" class="sun">17<br/></td><td height="100px" width="14%" class="mon">18<br/></td><td height="100px" width="14%" class="tue">19<br/></td><td height="100px" width="14%" class="wed">20<br/></td><td height="100px" width="14%" class="thu">21<br/></td><td height="100px" width="14%" class="fri">22<br/></td><td height="100px" width="14%" class="sat">23<br/></td></tr>
<tr><td height="100px" width="14%" class="sun">24<br/></td><td height="100px" width="14%" class="mon">25<br/></td><td height="100px" width="14%" class="tue">26<br/></td><td height="100px" width="14%" class="wed">27<br/></td><td height="100px" width="14%" class="thu">28<br/></td><td height="100px" width="14%" class="fri">29<br/></td><td height="100px" width="14%" class="sat">30<br/></td></tr>
</table>
</body></html>